* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-ranking {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  height: 80px;
}

.text-ranking {
  font-style: oblique;
  color: whitesmoke;
  font-size: 50px;
  margin-top: 100px;
  padding: 50px;
}

.btn-home {
  color: white;
  background-color: mediumslateblue;
  border: none;
  font-size: 24px;
  font-weight: 700;
  margin-top: 40px;
  width: 150px;
}